.scene {
 &-background {
 min-width: 100%;
 max-height: 100vh;
 position: relative;
 }
 &-happy{
  display: block;
 }
 &-bugHead{
  display: none;

 }
 &-scaryEnd{
   display: none;
 }
 &-wearingBug{
   display: none;
 }
  &-guns{
    display: none;
  }
  &-inlove{
    display: none;
  }
  &-coolEnd{
    display: none;
  }

}

.--character{
  top: 0;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
