.start{
  &-background{
    min-width: 100%;
    max-height: 100vh;
    z-index: 2;
    position: absolute;
  }
  &-btnStart{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 45px;
    border: 0;
    background-color: pink;
    color: white;
    top: 0;
    right: 0;
    margin: 460px 330px 0 0;

  }
  &-gameTitle{
    position: absolute;
    z-index: 2;
    font-size: 67px;
    text-align: center;
    width: 442px;
    color: black;
    top: 0;
    right: 0;
    margin: 250px 150px;
  }
  &-startButton{
    position: absolute;
    margin: 0 auto;
  }
}
