.textbox{
  position: absolute;
  right: 0;
  bottom: 0;
  border: 3px solid pink;
  background-color: salmon;
  border-radius: 10px;
  color: white;
  width: 740px;
  height: 200px;
  margin: 0 50px 50px 0;
  font-family: Avenir Next;
  &-question{
    font-size: 22px;
    margin: 20px 0 40px 10px;
  }
  &-answerContainer{
    cursor: pointer;
    color: #FEFEFE;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
  }
  &-answer1:hover{
    color: lightgrey;
  }
  &-answer2:hover{
    color: lightgrey;
  }
}
